# All variables are evaluated in the browser at build time by Vite.
VITE_IAM_URL=https://lux.id
VITE_IAM_CLIENT_ID=lux-cloud-client-id
VITE_IAM_ORG=lux
VITE_IAM_APP=app-lux
VITE_REDIRECT_URL=https://cloud.lux.network
